<h1>Welcome to the contact page</h1>
<ul>
  <li><%= link_to 'Home', controller: 'home' %></li>
  <li><%= link_to 'History', controller: 'history' %></li>
  <li><%= link_to 'Contact', controller: 'contact' %></li>
</ul>
